{% extends 'HtmlContent/nav.html' %}
{% block content %}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
<div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Edit Expense</h5>
        <small class="text-muted float-end">Company Name</small>
      </div>
      <div class="card-body">
        <form action="/editexpense" method="POST">
          {% csrf_token %}
          {% for dt in data %}
          <input type="text" name="id" value="{{ dt.id }}" hidden>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Employee</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-fullname2" class="input-group-text">
                <i class="bx bx-user"></i>
              </span>
              <input
                type="text"
                class="form-control"
                id="basic-icon-default-fullname"
                placeholder="Employee Name"
                aria-label="Employee Name"
                aria-describedby="basic-icon-default-fullname2"
                name ="employee"
                value="{{ dt.employee }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Expense Details</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-company2" class="input-group-text"
                ><i class="bx bx-buildings"></i
              ></span>
              <input
                type="text"
                id="basic-icon-default-company"
                class="form-control"
                placeholder="Expense Details"
                aria-label="Expense Details"
                aria-describedby="basic-icon-default-company2"
                name="expense"
                value="{{ dt.detail }}"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Total Amount</label>
            <div class="input-group input-group-merge">
              <span id="basic-icon-default-rupee" class="input-group-text"
                ><i class="bx bx-rupee"></i
              ></span>
              <input
                type="text"
                id="basic-icon-default-rupee"
                class="form-control"
                placeholder="Amount"
                aria-label="Amount"
                aria-describedby="basic-icon-default-company2"
                name="amount"
                value="{{ dt.amount }}"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-email">Date</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bx-time"></i></span>
              <input
                type="date"
                id="basic-icon-default-email"
                class="form-control"
                placeholder="00"
                aria-label="00"
                aria-describedby="basic-icon-default-email2"
                name="expensedate"
                value="{{ dt.date }}"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="basic-icon-default-email">Money In / Out</label>
            <div class="input-group input-group-merge">
            {% if dt.status == 'In' %}
            <div class="form-check mt-3">
              <input
                name="money"
                class="form-check-input"
                type="radio"
                value="In"
                checked
                id="defaultRadio1"/>
              <label class="form-check-label" for="defaultRadio1"> In </label>
            </div>
            {% else %}
            <div class="form-check mt-3">
              <input
                name="money"
                class="form-check-input"
                type="radio"
                value="In"
                id="defaultRadio1"/>
              <label class="form-check-label" for="defaultRadio1"> In </label>
            </div>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if dt.status == 'Out' %}
            <div class="form-check mt-3">
                <input
                  name="money"
                  class="form-check-input"
                  type="radio"
                  value="Out"
                  id="defaultRadio1"
                  checked/>
                <label class="form-check-label" for="defaultRadio1"> Out </label>
              </div>
              {% else %}
              <div class="form-check mt-3">
                <input
                  name="money"
                  class="form-check-input"
                  type="radio"
                  value="Out"
                  id="defaultRadio1"/>
                <label class="form-check-label" for="defaultRadio1"> Out </label>
              </div>
              {% endif %}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Update Expense</button>
          {% endfor %}
        </form>
      </div>
    </div>
{% endblock %}